{% extends "base.html" %}

{% block styles %}
{{super()}}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<!-- Form to get the image id, K and the vector space from user -->
<h1>Image Search in Different Vector Spaces</h1>
<form  class="input-group" method="post" action="{{ url_for('index') }}" enctype="multipart/form-data">
    <select class="form-control" name="input_type" id="input_type">
        <option value="image_id">Image Id</option>
        <option value="label">Label </option>
        <option value="image_file">Image File</option>
    </select>
    <span class="input-group-addon"><h1>-</h1></span>
    <input class="form-control input-sm" type="text" name="image_id" id="image_id" placeholder="Image Id"/>
    <span class="input-group-addon"><h1>-</h1></span>
    <input class="form-control" type="number" name="k" id="k" placeholder="K value"/>
    <span class="input-group-addon"><h1>-</h1></span>
    <select class="form-control" name="vectorspace" id="vectorspace" placeholder="Vector Space">
        <option value="color">Color</option>
        <option value="hog">HOG</option>
        <option value="layer3">Resnet Layer3</option>
        <option value="avgpool">Resnet Avgpool</option>
        <option value="fc">Resnet FC</option>
    </select><h1>-</h1></span>
    <select class="form-control" name="latentspace" id="latentspace" placeholder="Latent Semantics">
        <option value="none">None</option>
        <option value="svd">SVD</option>
        <option value="nmf">NNMF</option>
        <option value="lda">LDA</option>
        <option value="kmeans">K-Means</option>
        <option value="cpd">CP Decomposition</option>
    </select>
    <span class="input-group-addon"><h1>-</h1></span>
    <!--<select name="dist_sim" id="dist_sim" class="form-control" placeholder="K value">
        <option value="linear">Linear</option>
        <option value="euc">Euc</option>
        <option value="cbrt">Cube Root</option>
        <option value="cosine">cosine</option>
    </select><br>-->
    <input type="submit" value="Get K Matches" class="btn btn-primary btn-lg"/>
</form>
<br>
<!-- Displaying results based on the value of the result -->
{% if result %}
<!-- Displaying error message if image not found -->
    {% if 'input_type' in result.keys()%}
        
        {% if 'error' in result.keys() %}
            <h1>Invalid label</h1>
        {% else %}
        <h1> Similar Labels:</h1>
        <div id="show_labels">
            <div style="padding-left: 220px;">
                {% for label in result['labels'] %}
                    <b>{{label[0]}} - {{label[1]}}</b><br>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% else %}
        {% if 'image_not_found' in result.keys() %}
            <h1>The provided image id is not found in dataset</h1>
        {% else %}
        <!-- Displaying respective error message if -->
            {% if 'error' in result.keys() %}
                <h3>Provided image</h3>
                <img src="{{ result['cur_image'] }}" alt="Invalid input" style='border:2px solid #030303;border-radius:5px' width="200" height="180" />
                <h1>Given image is gray scale and it only has one channel</h1>
            {% else %}
                <div class="container">
                    <div class="inline-div">
                        <h3>Image</h3>
                        <img src="{{ result['cur_image'] }}" alt="Some input" style='border:2px solid #030303;border-radius:5px' width="200" height="180" />
                    </div>
                
                <!--     <div class="float-child2">
                    <h3>Current Descriptor</h3>
                        <div class="scrollable-container">
                            {% for ele in result['cur_desc'] %}
                                <p>{{ ele }}</p>
                            {% endfor %}
                        </div>
                    </div> -->
                </div>
                <!-- Displaying all the images given by the app.py file-->
                <div class="container">
                    <button class="btn btn-primary" id="toggleImageMatches" ><h4>Show Images</h4></button>
                    <h1>-</h1>
                    <button class="btn btn-primary" id="toggleLabelMatches" ><h4>Show Labels</h4></button>
                </div>
                <div id="showimages">
                    <div class="container">
                        {% for key,image_path in result.items() %}
                            {% if key != 'cur_image' and 'score' not in key and key != 'cur_desc' and key != 'labels' %}
                                <div class="inline-div">
                                    <img src="{{ image_path }}" alt="Some text"  style='border:2px solid #030303;border-radius:5px' width="200" height="180" />
                                    <h3>Distance: {{ result[key+'-score'] }}</h3>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="showlabels">
                    <div style="padding-left: 220px;">
                        {% for label in result['labels'] %}
                            <b>{{label[0]}} - {{label[1]}}</b><br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
<script>
    const inputTypeSelect = document.getElementById("input_type");
    const fileInput = document.getElementById("image_id");
    inputTypeSelect.addEventListener("change", function() {
        if (inputTypeSelect.value === "image_file") {
            fileInput.type = "file";
        } else {
            fileInput.type = "text";
        }
    });
    var images = document.getElementById("showimages");
    var labels = document.getElementById("showlabels");
    document.getElementById("toggleImageMatches").addEventListener("click", function() {
        images.style.display = "block";
        labels.style.display = "none";
    });
    document.getElementById("toggleLabelMatches").addEventListener("click", function() {
        images.style.display = "none";
        labels.style.display = "block";
    });
</script>
{% endblock %}